body, h1, h2, p, ul, li {
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding-top: 100px; 
   background-image: url('programs.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.1); 
    opacity: 0.9;
}

header img {
   max-width: 200px;
   margin-left: -5;
}

header {
background-color: #121648;
color: #5e4903;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 3px;
position: fixed;
width: 100%;
z-index: 1;
top: 0%;
}

.header-container {
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
}


h1 {
   font-size: 30px;
   margin-right: 20px;
   margin-left: 0;
}

nav ul {
   list-style-type: none;
   display: flex;
}

nav li {
   margin-right: 15px;
   font-size: 20px;
}

nav a {
   text-decoration: none;
   color: #f7f5f5;
   font-weight: bold;
   font-size: 16px;
   white-space: nowrap;
}
#content {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: #000;
  padding-top: 100px; 
}




.programs-section {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 60px;
}



.program-div {
   width: 30%;
   padding: 20px;
   border: 2px solid rgb(164, 112, 8);
   border-radius: 10px;
   text-align: center;
   background-color: #9a8e8e;
   box-shadow: 0 2px 4px rgba(181, 34, 34, 0.1);
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   cursor: pointer;
}

.program-div:hover {
   transform: translateX(-20px);
   box-shadow: 0 8px 16px rgba(181, 34, 34, 0.2);
}

.program-content {
   padding: 30px;
  
}

.program-div h2 {
   margin-bottom: 20px;
   font-size: 1.5em;
}

.program-div p {
   margin-bottom: 10px;
}

.program-div a {
   text-decoration: none;
   color: #3c07d9;
}

.program-div a:hover {
   text-decoration: underline;
}

footer {
   background-color: #121648;
   color: #fff;
   padding: 10px;
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
}


.footer-content {
 color: #000;
}
